rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="List" type="ListType"/>
    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="xs:string" name="firstname"/>
            <xs:element type="xs:string" name="lastname"/>
            <xs:element type="xs:string" name="customer_url"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListType">
        <xs:sequence>
            <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>